* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link1 {
    margin-left: 33px;
}

.navbar-left {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #f2f2f2;
}

.category {
    padding-left: 20px;
}

.nav-link :hover {
    background-color: #b4cd93;
}

.input-group {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.search-input {
    width: 80%;
    padding-left: 15px;
    outline: none;
    background-color: #e6e6e6;
}

.days-count {
    color: #4c4c4c;
    margin-top: 80px;
}

.three-cards {
    margin-top: 41px;
    gap: 10%;
    color: #ffffff;
}

.div-card {
    width: 227px;
    height: 80px;
    background-image: url(./Assets/17-athletics.png);
}

.div-card:hover {
    transform: scale(1.2, 1.2);

    transition: 1s ease;
}

.head-artists {
    margin-top: 63px;
}

.heads span {
    opacity: 0.5;
}

.btn-filter {
    margin-left: 20px;
    height: 40px;
    border: 1px solid #e6e6e6;
}

.btn-filter img {
    margin-right: 15px;
}

.artist-table {
    margin-top: 30px;
}

thead {
    background-color: #e5e5e5;
}

.td-status {
    width: 55%;
    color: #427a5b;
    background-color: #deede5;
}

.prog-persent {
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    color: #427a5b;
    background-color: #deede5;
}

.pages-num {
    margin-bottom: 40px;
    background-color: #f7f7f7;
}

.pages-num p {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 60px;
    background-color: #e6e6e6;
    text-align: center;
}

.admin-div {
    margin-top: 62px;
}

.admin-icon {
    margin-left: 40px;
    background-color: #f2f2f2;
    padding: 5px 5px;
    border-radius: 45px;
}

.admin {
    margin-left: 10px;
    padding: 0;
}

.best-art {
    margin-top: 50px;
    padding: 32px 18px;
    background-color: #fcfcfc;
}

.best-art h4 {
    text-align: center;
}

.art-prof span {
    margin-left: 5px;
}

.art p {
    margin-top: 15px;
}

.best-pro {
    margin-top: 50px;
}

.best-pro h4 {
    text-align: center;
}

.clock {
    background: #333333;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.clock {
    margin-top: 80px;
    background-color:#427a5b ;
}

.clock-time,
.clock-ampm {
    font-size: 30px;
    color: #eeeeee;
}

.clock-time {
    font-size: 48px;
}

#datetime {
    margin-top:70px
}

/* .right-content {
    margin-left: 100px;
} */